# pip install --index-url https://download.pytorch.org/whl/cu118 torch torchvision torchaudio
wordfreq
requests
nltk
psutil
scikit-learn
sqlalchemy
python-dotenv
pymysql
tqdm
datasets
accelerate
transformers
sentence-transformers
setfit
lightning
huggingface_hub
openai
termcolor
prompt_toolkit